
img{
	width: 30%;
	float: left;
	margin: 1.6%;
}

p{
	font-family: 'Joti One', cursive;
	font-size: 23px;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
	margin-left: 1.6%;
}